In [13]:
import plotly.graph_objects as go
import pandas as pd
from decimal import Decimal
from ast import literal_eval

In [14]:
df = pd.read_csv("report1.csv")
df.head(5)

,STATE,EVENT_ID,YEAR,MONTH_NAME,TOR_F_SCALE,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,INJURIES_DIRECT,INJURIES_INDIRECT,DEATHS_DIRECT,DEATHS_INDIRECT,DAMAGE_PROPERTY
0,NEW YORK,5605845,1997,July,F2,42.40,-73.42,42.40,-73.40,0,0,0,0,550K
1,MINNESOTA,5615530,1997,July,F0,43.70,-94.02,43.72,-93.97,0,0,0,0,100K
2,FLORIDA,5614888,1997,July,F0,26.97,-82.10,26.97,-82.10,0,0,0,0,4K
3,ILLINOIS,5614257,1997,August,F0,41.10,-90.02,41.10,-90.02,0,0,0,0,NaN
4,ILLINOIS,5614258,1997,August,F0,41.12,-89.97,41.12,-89.97,0,0,0,0,0

In [19]:
repl_dict = {'[kK]': '*1e3', '[mM]': '*1e6', '[bB]': '*1e9' }
df['DAMAGE_PROPERTY'] = df['DAMAGE_PROPERTY'].fillna(1)
df['DAMAGE_PROPERTY'] = df['DAMAGE_PROPERTY'].replace(repl_dict, regex=True).map(pd.eval)

AttributeError: 'PandasExprVisitor' object has no attribute 'visit_Starred'

In [6]:
df.head(25)

,STATE,EVENT_ID,YEAR,MONTH_NAME,TOR_F_SCALE,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,INJURIES_DIRECT,INJURIES_INDIRECT,DEATHS_DIRECT,DEATHS_INDIRECT,DAMAGE_PROPERTY
0,NEW YORK,5605845,1997,July,F2,42.40,-73.42,42.40,-73.40,0,0,0,0,550K
1,MINNESOTA,5615530,1997,July,F0,43.70,-94.02,43.72,-93.97,0,0,0,0,100K
2,FLORIDA,5614888,1997,July,F0,26.97,-82.10,26.97,-82.10,0,0,0,0,4K
3,ILLINOIS,5614257,1997,August,F0,41.10,-90.02,41.10,-90.02,0,0,0,0,0
4,ILLINOIS,5614258,1997,August,F0,41.12,-89.97,41.12,-89.97,0,0,0,0,0
5,FLORIDA,5616998,1997,June,F0,28.55,-81.37,28.55,-81.37,0,0,0,0,20K
6,FLORIDA,5616248,1997,July,F0,27.78,-82.47,27.78,-82.47,0,0,0,0,100K
7,MONTANA,5604794,1997,July,F0,45.58,-108.77,45.58,-108.77,0,0,0,0,0
8,FLORIDA,5613885,1997,August,F0,26.72,-81.97,26.72,-81.97,0,0,0,0,0
9,OHIO,5611996,1997,July,F2,39.68,-83.82,39.68,-83.82,0,0,0,0,50K
10,WYOMING,5606811,1997,July,F0,44.38,-108.08,44.38,-108.08,0,0,0,0,0
11,OHIO,5612303,1997,July,F1,40.22,-82.72,40.22,-82.72,0,0,0,0,5K
12,OHIO,5611910,1997,August,F0,38.82,-83.57,38.83,-83.48,0,0,0,0,100K
13,NEW YORK,5609943,1997,July,F0,42.08,-77.93,42.08,-77.93,0,0,0,0,35K
14,NEBRASKA,5615156,1997,August,F0,40.80,-102.03,40.77,-102.05,0,0,0,0,0
15,NEBRASKA,5615157,1997,August,F0,40.75,-101.98,40.60,-102.03,0,0,0,0,0
16,NORTH DAKOTA,5606912,1997,July,F0,47.05,-96.95,47.05,-96.95,0,0,0,0,0
17,NORTH DAKOTA,5606913,1997,July,F0,46.88,-96.93,46.88,-96.93,0,0,0,0,0
18,NORTH DAKOTA,5610860,1997,August,F0,46.75,-98.70,46.75,-98.70,0,0,0,0,0
19,NORTH DAKOTA,5610865,1997,August,F1,46.90,-98.87,46.90,-98.87,0,0,0,0,.25M
20,NORTH DAKOTA,5607108,1997,July,F0,48.12,-101.28,48.03,-100.98,0,0,0,0,0
21,FLORIDA,5602968,1997,July,F0,26.82,-80.67,26.82,-80.67,0,0,0,0,0
22,NORTH DAKOTA,5606911,1997,July,F0,47.05,-96.93,47.05,-96.93,0,0,0,0,0
23,SOUTH DAKOTA,5615965,1997,August,F0,45.00,-96.97,45.00,-96.97,0,0,0,0,0
24,SOUTH DAKOTA,5612012,1997,July,F0,44.52,-100.33,44.52,-100.33,0,0,0,0,0

In [ ]:
codes = {
    'ALABAMA': 'AL',
    'ALASKA': 'AK',
    'ARIZONA': 'AZ',
    'ARKANSAS': 'AR',
    'CALIFORNIA': 'CA',
    'COLORADO': 'CO',
    'CONNECTICUT': 'CT',
    'DELAWARE': 'DE',
    'DISTRICT OF COLUMBIA': 'DC',
    'FLORIDA': 'FL',
    'GEORGIA': 'GA',
    'HAWAII': 'HI',
    'IDAHO': 'ID',
    'ILLINOIS': 'IL',
    'INDIANA': 'IN',
    'IOWA': 'IA',
    'KANSAS': 'KS',
    'KENTUCKY': 'KY',
    'LOUISIANA': 'LA',
    'MAINE': 'ME',
    'MARYLAND': 'MD',
    'MASSACHUSETTS': 'MA',
    'MICHIGAN': 'MI',
    'MINNESOTA': 'MN',
    'MISSISSIPPI': 'MS',
    'MISSOURI': 'MO',
    'MONTANA': 'MT',
    'NEBRASKA': 'NE',
    'NEVADA': 'NV',
    'NEW HAMPSHIRE': 'NH',
    'NEW JERSEY': 'NJ',
    'NEW MEXICO': 'NM',
    'NEW YORK': 'NY',
    'NORTH CAROLINA': 'NC',
    'NORTH DAKOTA': 'ND',
    'NORTHERN MARIANA ISLANDS':'MP',
    'OHIO': 'OH',
    'OKLAHOMA': 'OK',
    'OREGON': 'OR',
    'PALAU': 'PW',
    'PENNSYLVANIA': 'PA',
    'PUERTO RICO': 'PR',
    'RHODE ISLAND': 'RI',
    'SOUTH CAROLINA': 'SC',
    'SOUTH DAKOTA': 'SD',
    'TENNESSEE': 'TN',
    'TEXAS': 'TX',
    'UTAH': 'UT',
    'VERMONT': 'VT',
    'VIRGIN ISLANDS': 'VI',
    'VIRGINIA': 'VA',
    'WASHINGTON': 'WA',
    'WEST VIRGINIA': 'WV',
    'WISCONSIN': 'WI',
    'WYOMING': 'WY',
}

In [ ]:
df_tornado_counts = df.groupby(['STATE'])[['EVENT_ID']].count()
df_tornado_counts = df_tornado_counts.reset_index()

fig = go.Figure(data=go.Choropleth(
    locations=df_tornado_counts['STATE'].apply(lambda x: codes[x]), # Replace state names with code
    z = df_tornado_counts['EVENT_ID'].astype(float), 
    locationmode = 'USA-states',
    colorscale = 'Greys',
    colorbar_title = "Number of Tornado Events",
    text = df_tornado_counts['STATE']
))

fig.update_layout(
    title_text = 'Count of Tornado Events by State in Years 1997-2007',
    geo_scope='usa', 
)

fig.show()

In [ ]:
# Filter dataframe by significant tornado events (EF2,EF3,EF4,EF5)
df_significant_tornado = df[df['TOR_F_SCALE'].isin(['EF2','EF3','EF4','EF5'])]

df_significant_tornado_count = df_significant_tornado.groupby(['STATE'])[['EVENT_ID']].count()
df_significant_tornado_count = df_significant_tornado_count.reset_index()

fig = go.Figure(data=go.Choropleth(
    locations=df_significant_tornado_count['STATE'].apply(lambda x: codes[x]), # Replace state names with code
    z = df_significant_tornado_count['EVENT_ID'].astype(float),
    locationmode = 'USA-states',
    colorscale = 'Greys',
    colorbar_title = "Number of Tornado Events",
))

fig.update_layout(
    title_text = 'Count of significant Tornado Events (EF Scale >= 2) by State in Years 2008-2017',
    geo_scope='usa', # limite map scope to USA
)

fig.show()

In [ ]:
df_tornado_counts = df.groupby(['STATE'])[['EVENT_ID','BEGIN_LAT','BEGIN_LON','MONTH_NAME']].count()
df_tornado_counts = df_tornado_counts.reset_index()
df_tornado_counts.head()


data = [ go.Scattergeo(
        locationmode = 'USA-states',
        lon = df['BEGIN_LON'],
        lat = df['BEGIN_LAT'],
        mode = 'markers',
        marker = dict(
            size = 15,
            symbol = 'square',
            colorscale = 'Blues',
        ))]

fig.update_layout(
        title = 'Most trafficked US airports<br>(Hover for airport names)',
        geo = dict(
            scope='usa',
            projection_type='albers usa',
            showland = True
        ),
    )
fig.show()